/* Felles */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

:root{
    --gullgul: #e6bd43;
    --gråsvart: #252525;
}

/* Grid-container felles alle sider mobile*/
.grid-container{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    max-width: 1600px;
}
.navmeny{
    display: grid;
    grid-area: header;
    overflow: hidden;
    grid-column: 1/-1;
}

.main{
    display: grid;
    grid-area: main;
    overflow: hidden;
    grid-column: 1/-1;
}

.companyfooter{
    display: grid;
    grid-area: footer;
    overflow: hidden;
    grid-column: 1/-1;
}

body{
    
}

/* Header nav-meny felles */

.navmeny-desktop{
    display: none;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.navmenyen{
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.navliste-mobile .listerekke{
    padding: 5px 0px;
}

.navliste-mobile a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 100px;
}

.contactknapp{
    padding: 20px 0px;
}

.yellow-btn{
    background-color: var(--gullgul);
    padding: 15px;
    font-weight: 700;
}


.currentlink{
    font-weight: 700;
    border-bottom: 3px solid var(--gullgul);
}

.backtotop-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--gråsvart);
    margin: 10px;
    padding: 15px 10px;
    border-radius: 5px
}

.backtotop-btn .fa-arrow-up{
    color: white;
    text-decoration: none;
    font-size: 5.333vw;
    font-weight: 300;
}

/* Footer felles */

.companyfooter{
    background-color: var(--gråsvart);
    padding: 50px 10px 30px 10px;
    text-align: center;
}

.logocontainerfooter{
    display: flex;
    justify-content: center;
    padding-bottom: 5.333vw;
}

.logofooter{
    width: 21.333vw;
}

.footer-h2{
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.SoMe-footer-liste li{
    display: inline-block;
}

.SoMe-footer{
    text-decoration: none;
}

.SoMe-footer i{
    color: white;
    font-size: 8vw;
    padding: 2.667vw;
}

/* Portfolio */


/* 
Løsning for å få lavere opacity/overlay på bakgrunnsbilde er hentet fra 
Youtube-skaperen Kevin Powell sin Youtube kanal Kevin Powell, 
fra videoen "Lower the opacity of a background-image with CSS", 
link: https://www.youtube.com/watch?v=lRPguPbovro
*/
.portfolioheader{
    background: url(../img/busy.jpg);
    background-size: cover;
    position: relative;
    isolation: isolate;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolioheader::after{
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    background: rgb(187, 188, 196);
    opacity: 0.5;
}

.portfolioh1{
    font-size: 35px;
}

.previousjobs{
    padding: 10px 30px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.portfolioheading{
    border-bottom: 4px solid var(--gullgul);
    padding: 10px  10px  10px  0px;
    width: calc(100% - 10px);
    font-size: 25px;
}

.joblist{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(100vw - 100px);
}

.jobtype{
    display: inline-block;
    list-style-type: none;
    padding: 40px 10px 0px 0px;
}

.job-btn{
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#branding{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#design{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#development{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Løsning for artikkelkortenes flex-grow og rad-oppførsel er utarbeidet med hjelp av ChatGPT */

.artikkelliste{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style-type: none;
    padding-top: 15px;
}

.artikkelliste li{
    width: 100%;
    flex-grow: 1;
    max-width: 692px;
}

.artikkelliste img{
    width: 100%;
    padding-bottom: 15px;
}

.artikkelkort{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.artikkelkort h3{
    font-size: 19px;
}




/* Forside */

.desktopvideo{
    display: none;
}

/* 
Løsning for å få lavere opacity/overlay på bakgrunnsbilde er hentet fra 
Youtube-skaperen Kevin Powell sin Youtube kanal Kevin Powell, 
fra videoen "Lower the opacity of a background-image with CSS", 
link: https://www.youtube.com/watch?v=lRPguPbovro
*/

#read-more-services{
    background: url(../img/busy.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 500px;
    padding: 0px 50px
}

#read-more-services::after{
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    background: rgb(187, 188, 196);
    opacity: 0.5;
}


.readmoreh1{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

.readmoreh2{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

#service-btn{
    text-decoration: none;
    text-align: left;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

#engaging{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.engagingh2{
    font-size: 25px;
    padding-bottom: 40px;
}

.engagingh3{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 40px;
}

#ourcompany{
    background-color: var(--gullgul);
    padding: 50px;
}

.aboutourcompany{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bildecompany{
    width: 100%;
    max-width: 500px;
}

.companycontent{
    max-width: calc(500px - 40px);
    width: 80%;
}

.companyh2{
    padding: 50px 0px 10px 0px;
    font-size: 25px;
}

.companyh3{
    padding: 10px 0px 40px 0px;
    font-size: 20px;
    font-weight: 500;
}

/* Her har jeg brukt flex for å få brukt wrap på teksten*/
#company-btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    text-decoration: none;
    color: black;
    padding: 15px;
    padding-right: 80px;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid black;
}

.ourservices{
    padding: 13.333vw 13.333vw 10px 13.333vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.servicesh2{
    font-size: 6.667vw;
    padding-bottom: 13.333vw;
}

.serviceslist{
    list-style-type: none;
}

.serviceslist li{
    padding-bottom: 13.333vw;
}

.serviceh3{
    font-size: 6.667vw;
    padding: 4vw 0px;
}

.serviceh4{
    font-size: 5.333vw;
    font-weight: 500;
}

.servicekort i{
    font-size: 13.333vw;
    padding-top: 2.667vw;
}

#newsletter-signup{
    background-color: #eeeeee;
    padding: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.signuph2{
    font-size: 6.133vw;
    width: fit-content;
    padding-bottom: 5.333vw;
}

#email-signup{
    border: none;
    font-size: 15px;
    padding: 15px;
}

.signup-btn{
    border: none;
    padding: 4vw;
    background-color: var(--gullgul);
    color: black;
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
}


/* About */

#about-company{
    display: flex;
    flex-direction: column;
    background-image: url(../img/laptop.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: left;
    object-fit: cover;
    max-width: 100%;
    padding: 20px;
    overflow: hidden;
}


/* 
Løsning for å få lavere opacity/overlay på bakgrunn er hentet fra 
Youtube-skaperen Kevin Powell sin Youtube kanal Kevin Powell, 
fra videoen "Lower the opacity of a background-image with CSS", 
link: https://www.youtube.com/watch?v=lRPguPbovro
*/

.companyarticle{
    position: relative;
    isolation: isolate;
    padding: 50px 40px;
    width: 70%;
}

.companyarticle::after{
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    background: rgb(255, 255, 255);
    opacity: 0.8;
}

.aboutcompanyp{
    font-size: 15px;
    font-weight: 500;
    padding: 0px;
    padding-bottom: 20px;
}

.aboutcompanyh1{
    font-size: 20px;
    font-weight: 700;
    padding: 0px;
    padding-bottom: 20px;
}

.aboutcompanyh2{
    font-size: 15px;
    font-weight: 500;
    padding: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.getintouch-btn{
    background-color: var(--gullgul);
    color: var(--gråsvart);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
}

#clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    overflow: hidden;
    background-color: var(--gullgul);
}

.clienth2{
    padding: 20px 0px;
    padding-bottom: 40px;
}

.clientlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.clientli{
    padding: 10px 20px;
}


#contactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    overflow: hidden;
    background-color: #eeeeee;
}

.contactush2{
    font-size: 25px;
    font-weight: 700;
    padding: 0px 30px;
}

.wrapper-mail-contactinfo{
    padding: 0px 30px;
}

.mail{
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px;
}

.mailform{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.mailh3{
    padding-bottom: 10px;
}

.labelsmail{
    font-size: 15px;
    padding: 10px 0px;
}

.inputmail{
    border: none;
    padding: 15px;
    margin: 0px 0px 10px 0px;
}

.sendmessage-btn{
    border: none;
    padding: 15px;
    width: fit-content;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--gullgul);
    color: var(--gråsvart);
}

.contactinfo{
    width: 100%;
    padding: 40px 0px;
}

.contacth2{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}

.contacth3{
    font-size: 15px;
    font-weight: 500;
}

.contactikon-liste{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.contactikon-li{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 10px 0px;
}

.contactikon-li i{
    color: #4a494a;
    font-size: 25px;
    padding-right: 10px;
}

.contacth4{
    font-size: 15px;
    font-weight: 500;
}

/* Løsning for kartet er utarbeidet med hjelp av ChatGPT */

.map{
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

.kart{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 750px) and (min-width: 440px){

    /* header */


    .navmenyen{
        font-size: 20px;
    }

    .navliste-mobile .listerekke{
        padding: 10px 0px;
    }

    .logo{
        width: 120px;
    }
    

    /* Service liste */


    .ourservices{
        padding: 20px 0px;
    }
    .serviceslist{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .serviceslist li{
        padding: 10px 40px;
        width: 30%;
    }


    .servicekort i{
        font-size: 45px;
        padding: 0px;
    }

    .serviceh3{
        font-size: 20px;
        padding: 0px;
        padding-top: 20px;
    }

    .serviceh4{
        font-size: 18px;
        padding: 0px;
        padding-top: 20px;
    }


    /* Portfolio */

    .artikkelkort h3{
        font-size: 25px;
    }

    .portfolioheading{
        font-size: 30px;
    }

    .job-btn{
        font-size: 18px;
    }

    .jobtype{
        padding-right: 20px;
    }
}

@media only screen and (min-width: 750px){
    /* Grid-container felles alle sider desktop */
    .grid-container{
        display: grid;
        grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    }

    .navmeny{
        display: grid;
        grid-area: header;
        overflow: hidden;
        grid-column: 1/-1;
    }

    .main{
        display: grid;
        grid-area: main;
        overflow: hidden;
        grid-column: 1/-1;
    }

    .companyfooter{
        display: grid;
        grid-area: footer;
        overflow: hidden;
        grid-column: 1/-1;
    }

    /* Header felles */

    .navliste-mobile{
        display: none;
    }

    .navmeny-desktop{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navmenyen{
        padding: 0px;
        margin: 0px;
    }

    .logo{
        padding: 15px;
        width: 120px;
    }

    .navliste-desktop{
        list-style-type: none;
        font-size: 20px;
        height: fit-content;
        flex: 1;
        text-align: right;
        padding-right:5px;
    }

    .navliste-desktop li{
        display: inline-block;
        padding: 10px 15px;
    }

    .navliste-desktop a{
        color: black;
        text-decoration: none;
    }

    .yellow-btn{
        padding: 15px;
    }

    .yellow-btn:hover{
        background-color: var(--gråsvart);
        color: var(--gullgul);
    }

    .backtotop-btn .fa-arrow-up{
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-weight: 300;
    }

    /* Footer felles */

    .companyfooter{
        background-color: var(--gråsvart);
        padding: 50px 10px 30px 10px;
    }

    .companyfootercontainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logocontainerfooter{
        display: flex;
        padding: 10px;
        margin: 0px;
    }

    .logofooter{
        width: 120px;
    }
    
    .footer-h2{
        font-size: 20px;
        font-weight: 300;
        color: white;
    }
    
    .SoMe-footer{
        text-decoration: none;
    }
    
    .SoMe-footer i{
        color: white;
        font-size: 40px;
        padding: 15px;
    }

    /* Portfolio */

    .portfolioheader{
        background-position-y: center;
        height: 200px;
    }

    .portfolioh1{
        font-size:40px;
    }

    #mainportfolio section{
        padding-top:30px;
        padding-bottom: 30px;
    }

    #mainportfolio .previousjobs{
        padding-top: 40px;
    }

    .portfolioheading{
        width: calc(100% - 50px);
        font-size: 35px;
        padding-top: 0px;
        margin-left: 20px;
    }

    .jobtype{
        padding: 70px 10px 0px 20px;
    }

    .job-btn{
        font-size: 20px;
    }

    .job-btn:hover{
        background-color: var(--gråsvart);
        color: var(--gullgul);
    }

    /* Løsning for artikkelkortenes flex-grow og rad-oppførsel er utarbeidet med hjelp av ChatGPT */

    .artikkelliste{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        padding-top: 40px;
    }

    .artikkelliste li{
        width: calc(50% - 20px);
    }

    .artikkelliste img{
        width: 100%;
        padding-bottom: 40px;
    }
    
    .artikkelkort{
        padding: 20px 20px;
        transition:all ease-in-out 0.8s; 
        max-width: 692px;
    }

    .artikkelkort:hover{
        transform: scale(1.05); 
    }

    .artikkelkort h3{
        font-size: 30px;
    }


    /* Forside */

    #read-more-services{
        background-image: none;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        height: 550px;
        position: relative;
    }

    #read-more-services::after{
        display: none;
    }

    .overlayvideo{
        background-color: #fff;
        opacity: 0.4;
        height: 550px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .desktopvideo{
        display: flex;
        object-fit: cover;
        object-position: top;
        height: 550px;
        width: 100%;
    }

    .readmoreh1{
        font-size: 40px;
        padding: 20px;
    }

    .readmoreh2{
        font-size: 25px;
        font-weight: 400;
        max-width: 65%;
        padding: 20px;
        padding-bottom: 30px;
    }

    #service-btn{
        font-size:25px;
        padding: 20px;
    }

    #service-btn:hover{
        color: var(--gullgul);
        background-color: var(--gråsvart);
    }

    #engaging{
        padding: 40px 20px;
    }

    .engagingh2{
        font-size: 35px;
        padding: 0px 20px;
        padding-bottom: 60px;
    }

    .engagingh3{
        font-size: 20px;
        max-width: 70%;
        padding: 0px 20px;
        padding-bottom: 30px;
    }

    #ourcompany{
        padding: 35px 0px;
    }

    .aboutourcompany{
        justify-content: left;
        align-items: center;
        flex-direction: row;
        text-align: left;
    }

    .companycontent{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        width: 55%;
        max-width: 100%;
    }

    .companyh2{
        font-size: 30px;
        padding: 10px 0px;
        height: fit-content;
    }

    .companyh3{
        font-size: 18px;
        padding: 20px 0px;
        padding-right: 20px;
        height: fit-content;
    }

    .bildecompany{
        width: 30%;
        padding: 0px 40px;
        min-width: 300px;
    }

    #company-btn{
        font-size: 18px;
        padding: 15px;
    }

    #company-btn:hover{
        background-color: var(--gråsvart);
        color: var(--gullgul);
    }

    .ourservices{
        padding: 35px 0px;
    }

    .servicesh2{
        font-size: 35px;
        padding-top: 20px;
        padding: 20px;
    }

    .serviceslist{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 40px;
    }

    .serviceslist li{
        padding: 10px 10px;
        width: 30%;
    }

    .servicekort i{
        font-size: 45px;
        padding: 0px;
    }

    .serviceh3{
        font-size: 20px;
        padding: 0px;
        padding-top: 20px;
    }

    .serviceh4{
        font-size: 18px;
        padding: 0px;
        padding-top: 20px;
    }

    #newsletter-signup{
        padding: 40px 0px;
    }

    .signuph2{
        font-size: 35px;
        padding: 40px;
    }

    #email-signup{
        font-size: 15px;
        padding: 15px;
        margin: 0px;
    }

    .signup-btn{
        font-size: 15px;
        padding: 15px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .signup-btn:hover{
        background-color: var(--gråsvart);
        color: var(--gullgul);
    }

    /* About */

    #about-company{
        align-items: flex-end;
    }

    .companyarticle{
        width: 45%;
        margin: 40px;
    }

    .aboutcompanyp{
        font-size: 18px;
    }

    .aboutcompanyh1{
        font-size: 25px;
    }

    .aboutcompanyh2{
        font-size: 18px;
    }

    .getintouch-btn:hover{
        background-color: var(--gråsvart);
        color: var(--gullgul);
    }

    #clients{
        padding: 50px 0px;
    }

    .clienth2{
        font-size: 35px;
    }

    #contactus{
        padding: 50px 0px;
        padding-bottom: 0px;
    }

    .contactush2{
        font-size: 35px;
    }

    .wrapper-mail-contactinfo{
        display: flex;
        flex-direction: row;
        padding: 40px 0px 20px 0px;
    }

    .mail{
        padding: 30px;
    }

    .mailh3{
        font-size: 20px;
    }

    .sendmessage-btn:hover{
        background-color: var(--gråsvart);
        color: var(--gullgul);
    }

    .contacth2{
        font-size: 20px;
    }

    .contactinfo{
        padding: 30px;
    }

    .map{
        height: 250px;
    }

}

@media only screen and (min-width: 1200px){

    /* Løsning for artikkelkortenes flex-grow og rad-oppførsel er utarbeidet med hjelp av ChatGPT */

    .artikkelliste li {
        width: calc(33.33% - 20px);
    }

    .artikkelliste li :nth-child(2n):nth-last-child(2) {
        width: calc(50% - 20px);
    }

    #developmentkortliste{
        justify-content: space-between;
    }

    #developmentkortliste li{
        width: calc(50% - 20px);
    }
    


    /* Forside */

    .serviceslist li{
        width: 20%;
    }

    /* Portfolio */

    .developmentkortliste{
        max-width: 692px;
    }


}

@media only screen and (min-width: 1600px){
    
    .grid-container{
        margin: auto;
    }

    /* Løsning for kartet er utarbeidet med hjelp av ChatGPT */

    .map{
        margin-left: auto;
    }

    /* Løsning for hvordan å få back to top knappen til å holde seg innenfor html-containerens maks vidde på 1600px er utarbeidet med hjelp av ChatGPT */

    .backtotop-btn {
        right: calc((100vw - 1600px + 10px) / 2);
    }

}